.hero-buttons {
  position: relative;
  display: flex;
  justify-content: space-around;
  top: -500px;
}

.hero-buttons a,
.hero-buttons a:link,
.hero-buttons a:visited,
.hero-buttons a:active {
  background-color: var(--primary-color);
}

.hero-buttons a:hover {
  background-color: var(--secondary-color);
}

.hero-image {
  width: 100%;
  position: relative;
  top: -220px;
}

.hero-wrapper {
  height: 400px;
  overflow: hidden;
  margin-bottom: 50px;
}
