.organization-contact-info__container {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.organization-contact-info__container p {
  text-align: center;
  margin: 0;
  margin-top: 10px;
}

.organization-contact-info__container button {
  margin-bottom: 5px;
  margin-top: 10px;
}

.organization-contact-info__container a {
  margin-bottom: 5px;
  margin-top: 10px;
}

.organization-contact-info__container button svg {
  margin-right: 4px;
}
