.organization-info__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 300px;
  justify-content: center;
}

.organization-info__container a {
  text-decoration: none;
  color: var(--main-theme-color);
  font-size: 1.2rem;
  font-weight: bolder;
}
