.top-background {
  background-color: var(--primary-color);
  padding: 3% 0%;
  height: 150px;
}

.pet-details__span {
  display: block;
  font-size: 1.5rem;
  color: var(--info-color);
  font-weight: 300;
  margin: 0px 0px 0px 170px;
}

.pet_details__header {
  font-size: 5rem;
  color: var(--info-color);
  padding: 0;
  margin: 0;
  font-weight: 800;
  margin: 0px 0px 0px 170px;
}

.pet_details__progress {
  position: relative;
  left: 50%;
  top: 25vh;
  color: var(--info-color) !important;
}
