.navigation__button {
  color: var(--info-color) !important;
}

.navigation__button--sign-up {
  border-color: var(--info-color) !important;
}

.navigation__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: var(--info-color);
  border: 2px solid var(--success-color);
  border-style: groove;
  border-radius: 10px;
  box-shadow: 24;
  padding: 30px;
}

.navigation__modal-header {
  font-size: 2rem;
  flex: 1;
  font-weight: 600;
  padding: 10px 0px;
  justify-content: center;
  text-align: center;
  color: var(--success-color);
}

.navigation-container {
  background-color: var(--primary-color);
}
