.animal-details__frame {
  margin: 0px;
  display: flex;
}
.animal-details__frame > * {
  padding: 20px;
}

.animal-details__frame > *:nth-child(1) {
  flex: 3;
  margin-right: 30px;
}
.animal-details__frame > *:nth-child(2) {
  flex: 1;
  margin-left: 30px;
}
