:root {
  --primary-color: #7696ff;
  --secondary-color: #9dbdff;
  --error-color: #ff9874;
  --warning-color: #ffd7c4;
  --info-color: #fff;
  --success-color: #040f32;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form__button--submit {
  background-color: #9dbdff !important;
}
